@charset "ISO-8859-1";

body, html {
	background-color: #F2F2F2;
	margin: 0;
	padding:0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.login {
	height: 100vh;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__input {
	border: 1px solid gray;
    padding: 15px;
    border-radius: 4%;
}

.container {
	width: 900px;
}

.center {
	text-align: center;
	width: 100%;
}
.main-table {
    width: 100%;
    text-align: -webkit-center;
}

table > thead {
	background-color: black;
	color: white;
}

thead > tr > th {
	width: 200px;
}

thead > tr > th:nth-child(1) {
	width: 50px;
}

tbody > tr > td {
	text-align: center;
}

tbody > tr:nth-child(odd) {
	background-color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
